<h2 class="h4 mt-0 mb-1">Add Property</h2>
<p [tcColor]="'#8f8f90'">Submit this form to add property to marketplace</p>

<div class="row">
<div class="col-12 col-md-8">
<form [formGroup]="form"  novalidate>
  <tc-form-group>
    <tc-input [placeholder]="'Property Name'" formControlName="propertytitle" ></tc-input>
  </tc-form-group>

  <tc-form-group>
    <tc-input [placeholder]="'Little description about property'" formControlName="propertydescription" >    </tc-input>
  </tc-form-group>

  <tc-form-group>
 <tc-select [placeholder]="'Property Status'" [options]="data" formControlName="propertystatus" ></tc-select>
 
  </tc-form-group>

  
 <tc-form-group>
    <tc-input [placeholder]="'Location'" formControlName="propertylocation" ></tc-input>
  </tc-form-group>

 <tc-form-group>
    <tc-input [placeholder]="'Required Funding'" formControlName="requiredfunding" ></tc-input>
  </tc-form-group>

<tc-form-group>
    <tc-input [placeholder]="'Required Funding'" formControlName="acquiredfunding" ></tc-input>
  </tc-form-group>
 

 <tc-form-group>
    <tc-input [placeholder]="'Website link'" formControlName="holdingperiod" ></tc-input>
  </tc-form-group>

 <tc-form-group>
    <tc-input [placeholder]="'Current Investors'" [type]="'number'" formControlName="investors" ></tc-input>
  </tc-form-group>


 


<div class="row" style="padding-top: 3rem;">
  <div class="col-sm-6">
    <button (click)="addproperty()" tc-button [block]="true" [view]="'accent'" [beforeIcon]="'icofont-login'" [disabled]="form.invalid">
      Add Property
    </button>
</div>
<div class="col-sm-6">
     <button (click)="resetform()" tc-button [block]="true" [view]="'accent'" [beforeIcon]="'icofont-login'" >
      Reset
    </button>

  </div>
</div>
</form>

</div>
</div>