<div class="img-box" *ngIf="data && data.coverimg">
  <img src="{{ data.coverimg }}" width="400" height="400" alt="">
</div>

<div class="info-box">
  <h4 class="name">{{ data.propertyname }}</h4>

  <p class="role">Status: {{ data.status }}</p>

    <p class="role">Funding Goal: {{ data.fundinggoal }}</p>  

  <!-- <div class="social" *ngIf="data && data.social">
    <ng-container *ngFor="let item of data.social">
      <a href="{{ item.link }}" class="link {{ item.icon }}"></a>
    </ng-container>
  </div> -->

  <p class="address">{{ data.location }}</p>

  <div class="button-box" >
    <a href="#" [routerLink]="['../property', data.id]" tc-button [view]="'accent'">View property</a>
  </div>
</div>
